*{
    padding: 0%;
    margin: 0%;
}
a , a:hover, a:visited{
    color: white;
    text-decoration: none;
}

body{
    background-color: rgb(131, 111, 255);
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    background-color: rgb(131, 111, 255);
    height: 100px;
}
header .boxalgnLinks{
    display: flex;
    flex-direction: row;
}
header .boxalgnLinks .algnLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
.interface{
    width: 100%;
    display: flex;
    justify-content: center;
}
.interface #Modal_1-names{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interface #Modal_1-names .AlignModal_1{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    background-color:white;
    border: 5px solid rgb(131, 111, 255);
    border-radius:20px ;
    padding: 20px;
}
.interface #Modal_1-names .AlignModal_1 .imgsPlayers{
    width: 40%;
}
.interface #Modal_1-names .AlignModal_1 .inputs{
    width: 50%;
    height: 40px;
    font-size: 20px;
    padding-left: 15px;
}
.interface #Modal_1-names .AlignModal_1 .alignInputsImgs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.interface #Modal_1-names .AlignModal_1 .btn-Start{
    width: 40%;
    height: 70px;
    margin-top: 30px;
    background-color: rgb(173, 248, 97);
    border: none;
    border-radius: 20px;
    cursor: pointer;;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;

  box-shadow: inset 0 0 32px #14fff1, 0 0 32px #14fff1;

  position: relative;
    
}

.interface #Game{
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.interface #Game #janela1{
    width: 70%;
    display: flex;
    flex-direction: column;
    
}
.interface #Game #janela1 .boxVezJogador{
    width: 90%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid skyblue;
    
}
.interface #Game #janela1 .boxVezJogador #name{
    font-size: 20px;
}
.interface #Game #janela1 .boxVezJogador .janelaVezJogador{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interface #Game #janela1 .boxVezJogador .janelaVezJogador .inputDigita{
    width: 30%;
    height: 30px;
    padding-left: 20px;
    margin-right: 10px;
}
.interface #Game #janela1  #janela2{
    width: 90%;
    height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 5px solid skyblue;
}
#tablePalavras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.linhasBottom{
    width: 2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
    margin-right: 5px;
    font-size: 50px;
}
.linhasBottomSpace{
    width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 50px;
}
#camPoJogadorDigita{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}
#Proximapartida{
    width: 20%;
    height: 10%;
    margin-top: 30px;
}
#jogadorDigta{
    width: 40%;
    height: 80px;
}
.boxForca{
    width: 30%;
    height: 463px;
    display: flex;
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid skyblue;
}
.boxForca #letrasErradas{
    display: flex;
    flex-direction: row;
}
.boxForca #letrasErradas .boxLetrasErradas{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 25px;
    margin-bottom: 20px;
}
.espace{
    font-size: 30px;
}
.boxdePontos{
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}
.boxPontsoJogadores{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    
}
.boxPontosJogador1{
    width: 50px;
    height: 3.5rem;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxPontosJogador2{
    width: 50px;
    height: 3.5rem;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#nameJogador1{
    color: blue;
}
#nameJogador2{
    color: red;
}
.imgIcons{
    width: 100%;
}
.imgForca{
    width: 90%;
}
#myModal{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: white;
    border: 5px solid black;
    position: absolute;
    border-radius: 20px;
    
}
#boxPontosPlay1{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-right: 10px;
}
#boxPontosPlay2{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-right: 10px;
}
.pontosJogador1-modal{
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid blue;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pontosJogador2-modal{
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid red;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boxJogadorVnecedor1{
    width: 10.5rem;
    height: 9.5rem;
    flex-direction: column;
    border: 5px solid blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 10px;
}
.boxJogadorVnecedor2{
    width: 10.5rem;
    height: 9.5rem;
    flex-direction: column;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 50px;
    margin: 10px;
}
.vencedor{
    font-size: 30px;
    margin-bottom: 20px;
}
.nameVencedor{
    font-size: 20px;
}

.instrução{
    padding-top: auto;
    font-size: 15px;
    text-align: center;

}

.instrucao{
    color: black; 
}


